body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
}

.container {
    position: relative;
    text-align: center
}

#animation-container {
    background-image: url("../images/trees-and-bushes.png");
    height: 300px
}

#enemy {
    position: absolute;
    margin-top: 130px;
    left: 5%
}

#princess {
    position: absolute;
    right: 8%;
    margin-top: 130px;
}